<!DOCTYPE html>
<html>
<head>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
<script type='text/javascript' src='./javascripts/form.js'></script>
<script type='text/javascript' src='./javascripts/button.js'></script>
<link rel='stylesheet' href='stylesheets/style2.css' />


<title>Instructions</title>
</head>
<body>

<h1> Instructions:</h1>
<ul>
<li>The user has to decide and check if the songs that he/she wants, are available. The user can either use one or all three of the players.</li>
<li>For the first player, the user can only play tracks associated with the given genre. Genres are given on the button. Clicking button loads a playlist on the first player.</li>
<li> For the second player, the user can either use the default Instrumental playlist or load his/her desired playlist by searching for a specific SoundCloud URL. The URL has to be of either track or playlist. </li>
<li>The third player works similar to the second one. </li>
<li>The user can click on the record button when ready. The recorder may ask for permission if user is using it for the first time. As it starts, user can play with the player by either starting songs on each player one after another. At a time or stop and play at different intervals to create variations in his / her mashup as desired. </li>
<li>Once the user feels that the mashup is complete user can stop recording by clicking Stop Record button. The user will be prompted to either saving the mashup on his/her personal machine or share the mashup on social media. The user can also save a link to his/her mashup.</li>
<li>The user can create a record about the mashup by entering information about the mashup such as Mashup Title, Composer Name and Link to the Mashup that he/she received after creating mashup. </li>
</ul>
          <!-- <input type="submit" value="Sign Up"/> -->
      </div>
  </form>
</body>