<!DOCTYPE html>

<html>
	<head>
	<title>MIX Homepage</title>
<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
<link rel='stylesheet' href='stylesheets/style1.css' />
<script type='text/javascript' src='./javascripts/button.js'></script>


	</head>
	<body>
		<button id ='instructions'>INSTRUCTIONS</button><button id ='mixes'>MIXES</button>

		<h1> MIX </h1>

		<div id="message"></div>
		<button id ='start'>START</button>
		
	</body>
<footer>
  <p id="test"> Copyright 2015  </p>
</footer>

</html>