<html>
<head>
<title>MIX Find Mixes</title>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
<!--<script type='text/javascript' src='./javascripts/form.js'></script> -->
<script type='text/javascript' src='./javascripts/button.js'></script>
<link rel='stylesheet' href='stylesheets/style3.css' />

</head>
	<body>
	<h1> MIX </h1>
<div id = 'make2'>	
	<p> Retrieve MIX: </p>	
		Title <input id = "songname3" type="text" name="Songname"/><br>
	<button id = 'retrieve'>Retrieve</button>
	<p>Found: <span id="retrieveResult"></span></p>
	<br></br>
</div>
<div id = 'make3'>
	<p> Update MIX: </p>	
Title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id = "songname" type="text" name="Songname"/><br>
Composer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input id = "songdate" type="text" name="Songdate"/><br>
Link &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id = "songdesc" type="text" name="Songdesc"/><br>
	<button id = 'update'>Update</button>
	<!-- <div id="updateResult"></div> -->
	<p>Updated: <span id="updateResult"></span></p>
	<br></br>
</div>
<div id = 'make4'>
	<p> Delete  Mix: </p>	
	Title<input id = "songname4" type="text" name="Songname"/><br>
	<button id ='delete'>Delete</button>
	<!-- <div id="deleteResult"></div> -->
	<p>Deleted: <span id="deleteResult"></span></p>
	<br></br>
</div>


	</body>

</html>