<html>
<head>
	<title>MIX Mashup Page</title>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
<script type='text/javascript' src='./javascripts/form.js'></script>
<script type='text/javascript' src='./javascripts/button.js'></script>
<link rel='stylesheet' href='stylesheets/style2.css' />
<script type='text/javascript' src='http://connect.soundcloud.com/sdk.js'></script>
<script type='text/javascript' src='https://w.soundcloud.com/player/api.js'></script>  
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>

</head>
	<body>
		<button id ='instructions'>INSTRUCTIONS</button><button id ='mixes'>MIXES</button>
		
		<h1> MIX </h1>
<br></br>
<iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=http://soundcloud.com/annemijn-mors/sets/acoustic&single_active=false" width="33%" height="365" scrolling="no" frameborder="yes"></iframe>
<iframe id="sc-widget2" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/users/1539950/favorites&single_active=false" width="33%" height="365" scrolling="no" frameborder="yes"></iframe>
<iframe id="sc-widget3" src="https://w.soundcloud.com/player/?url=http://soundcloud.com/reverend_st8/sets/instrumental-edm&single_active=false" width="33%" height="365" scrolling="no" frameborder="yes"></iframe> 

Select Playlist Genre:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search for any SoundCloud Link:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search for any SoundCloud Link:<br></br>
<button id ='playlistloader'>Acoustic</button><button id ='playlistloader2'>EDM</button><button id ='playlistloader3'>Rock</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id = "searchbar" type="text" name="Search"/><button id ='search'>Search</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id = "searchbar2" type="text" name="Search"/><button id ='search2'>Search</button><br></br>

<button id ='playlistloader4'>HipHop</button><button id ='playlistloader8'>Country</button><button id ='playlistloader6'>Jazz</button><br></br>
<button id ='playlistloader7'>Rap</button><button id ='playlistloader5'>Ragae</button><button id ='playlistloader9'>Classical</button>
<br></br>
<iframe id="recorder" src="http://vocaroo.com/?minimal" width="425" height="425" frameborder="0"></iframe>
<br></br>

<div id = 'make'>
<p> Enter information about your MIX: </p>
Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id = "songname" type="text" name="Songname"/><br>
Composer:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input id = "songdate" type="text" name="Songdate"/><br>
Link:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id = "songdesc" type="text" name="Songdesc"/><br>
<button id ='create'>Create</button>
<div id="createResult"></div>
<br></br>
</div>

<br></br>

</body>

</html>